body {
  background-color: lightgray;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
  font-size: 26px
}

.ImageContainerBaku {
  width: 350px;
  height: 350px;
  position: relative;
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-color: red;
  padding-bottom: 0px;
  border-bottom: lightgray solid 20px;
  border-right: lightgray solid 20px;

}
.ImageContainerLondon {
  width: 350px;
  height: 350px;
  position: relative;
  background-image: url("../images/london.png");
  background-size: cover;
  background-color: red;
  padding-bottom: 0px;
  border-bottom: lightgray solid 20px;
  border-right: lightgray solid 20px;
}
.ImageContainerMadrid {
  width: 350px;
  height: 350px;
  position: relative;
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-color: red;
  padding-bottom: 0px;
  border-bottom: lightgray solid 20px;
  border-right: lightgray solid 20px;
}
.ImageContainerRome {
  width: 350px;
  height: 350px;
  position: relative;
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-color: red;
  padding-bottom: 0px;
  border-bottom: lightgray solid 20px;
  border-right: lightgray solid 20px;
}

.ImagePadding {
  width: 350px;
  padding 20px;
}

.TopLeft {
  position: absolute;
  top: 16px;
  left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: black;
  font-size: 28px;
}

.Header {
  background-color: gray;
  color: black;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.example {
    padding: 20px;
    color: white;
}

@media (min-width: 350px) {
.ImageContainerBaku{
  float: left;
}
.ImageContainerLondon{
  float: left;
}
.ImageContainerMadrid{
  float: left;
}
.ImageContainerRome{
  float: left;
}
}
/*
@media ()min-width: 768px) {
.ImageContainerBaku
.ImageContainerLondon
.ImageContainerMadrid
.ImageContainerRome
}

@media ()min-width: 922px) {
.ImageContainerBaku
.ImageContainerLondon
.ImageContainerMadrid
.ImageContainerRome
}
*/
@media (min-width: 1200px) {
.ImageContainerBaku{

}
.ImageContainerLondon{

}
.ImageContainerMadrid{

}
.ImageContainerRome{

}
}
